In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.23.2'

In [3]:
pip install wget

Requirement already satisfied: wget in c:\users\gh611680\anaconda3\envs\dsdigi\lib\site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.columns = df.columns.str.lower().str.replace(' ','_')

catergorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for p in catergorical_columns:
    df[p] = df[p].str.lower().str.replace(' ','_')

In [6]:
df.columns.nunique()

10

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [8]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

How many unique values does the ocean_proximity column have?

In [9]:
X = df['ocean_proximity'].nunique()
print("The ocean_proximity column have:", X)

The ocean_proximity column have: 5

### Question 5

What's the average value of the median_house_value for the houses located near the bay?

In [10]:
bay_area_houses = df[df['ocean_proximity'] == 'near_bay']
average_median_house_value_near_bay = bay_area_houses['median_house_value'].mean()
print("Average Median House Value for Houses Near the Bay:", average_median_house_value_near_bay)

Average Median House Value for Houses Near the Bay: 259212.31179039303

### Question 6

Calculate the average of total_bedrooms column in the dataset.
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calculate the average of total_bedrooms again.
Has it changed?

In [11]:
initial_average_total_bedrooms = df['total_bedrooms'].mean()
print("Initial Average Total Bedrooms:", initial_average_total_bedrooms)
mean_total_bedrooms = df['total_bedrooms'].mean()
df['total_bedrooms'].fillna(mean_total_bedrooms, inplace=True)
average_total_bedrooms_after_fillna = df['total_bedrooms'].mean()
print("Average Total Bedrooms After Filling Missing Values:", average_total_bedrooms_after_fillna)

if initial_average_total_bedrooms == average_total_bedrooms_after_fillna:
    print("The average has not changed.")
else:
    print("The average has changed.")

Initial Average Total Bedrooms: 537.8705525375618
Average Total Bedrooms After Filling Missing Values: 537.8705525375617
The average has changed.

### Question 7


Select all the options located on islands.
Select only columns housing_median_age, total_rooms, total_bedrooms.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [950, 1300, 800, 1000, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the last element of w?

In [12]:
island_df = df[df['ocean_proximity'] == 'island']
island_df = island_df[['housing_median_age', 'total_rooms', 'total_bedrooms']]
island_df = island_df.drop_duplicates()
island_df


X = island_df.to_numpy()
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv


y = np.array([950, 1300, 800, 1000, 1300])
w = (XTX_inv @ X.T) @ y
W=w[0]
print("What's the value of the last element of w:", W)

What's the value of the last element of w: 23.123309612152052